@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: 'ubuntu', sans-serif;
       
}
nav ul{
    
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: black;
    color: white;
    height:65 px;
}
nav ul li{
    padding: 0 12px;
}
.brand img{

    width: 38px;
 
    padding: 3px 8px;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.container{
    height: 72vh;
    background-color: black;
    color: white;
    font-family: 'varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('images/2068822.webp');
    background-repeat: no-repeat;
    
    background-position:left;
}
.botton{
    position: static;
    height: 100px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;

}
#myProgressBar{
    width: 80vw;
    cursor: pointer;

}
.songItemContainer{
    margin-top: 44px;
}
.songItem{
 height: 25px;
 display: flex;
 background-color: white;
 width: 60%;
 color: black;
 margin:10px 12px ; 
 justify-content: space-between;
 align-items: center; 
 border-radius: 50px;
}
.songItem img{
width: 33px;
margin: 7px 17px;


}
.timestamp{
    margin: 0 23px;
   
}
.timestamp i{
    cursor: pointer;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'ubuntu', sans-serif;

}
.songInfo img{
    opacity: 0;
    transition: opacity 0.3s ease-in ;
}